[Unit]
Description=Mount USB sticks
BindsTo=dev-%i.device
After=dev-%i.device

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/home/pi/oledctrl/usr/local/sbin/pb_import.sh %I
#ExecStop=/usr/bin/pumount /dev/%I
