[Unit]
Description=OLED display provider
After=mpd.service pulseaudio.service bluetooth.service
Requires=mpd.service pulseaudio.service bluetooth.service

# Optional: Warte auf die i2c- und spi-Module, wenn sie vorhanden sind
After=i2c-dev.service spi.service
Wants=i2c-dev.service spi.service


[Service]
Environment=PYTHONUNBUFFERED=1
User=pi
Group=pi
WorkingDirectory=/home/pi/oledctrl/oled
ExecStart=python3 /home/pi/oledctrl/oled/oled.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
