### KEYPAD 4x4 I2C + MCP23017
INTPIN = 17
ADDR = 0x27

IOADDR = 0x01
OUTPUT_REGISTER = 0x13


value_thresholds = [
    (90, 127),  # value >= 94 -> 127
    (80, 63),   # value >= 86 -> 63
    (70, 31),   # value >= 75 -> 31
    (45, 15),   # value >= 60 -> 15
    (30, 7),    # value >= 50 -> 7
    (15, 3),    # value >= 15 -> 3
    (5, 1),     # else -> 1
    (0, [1,0]),     # else -> 1
    (-1, 0),     # else -> 1
]
