### KEYPAD 4x4 I2C + MCP23017
LEDCOUNT = 8
LEDPIN = 21

#IDLE COLOR

COLOR_JOB_I = "GREEN"
# END COLOR
COLOR_JOB_T = "PURPLE"

# COLOR X728_LOADING
COLOR_X728_LOADING = "BLUE"

# COLOR TRACK
COLOR_TRACK = "CYAN"
COLOR2_TRACK = "ORANGE"

# COLOR PLAYLIST
COLOR_PLAYLIST = "WHITE"
COLOR_PLAYLIST = "YELLOW"