### KEYPAD 4x4 I2C + MCP23017
LEDCOUNT = 8
LEDPIN = 21

#IDLE COLOR
COLOR_JOB_I = [0,255,0]

# END COLOR
COLOR_JOB_T = [255,0,255]

# COLOR X728_LOADING
COLOR_X728_LOADING = [0,0,255]

# COLOR TRACK
COLOR_TRACK = [0,255,255]

# COLOR PLAYLIST
COLOR_PLAYLIST = [255,255,255]