ONLINE_URL = "https://audio.gunnarboelke.de/gunnar/"
ONLINE_SAVEPOS = "https://audio.gunnarboelke.de/savepos/"

ONLINE_CLIENT_KEY = None # = "/home/pi/oledctrl/certs/phoniebox.gunnar.key"
ONLINE_CLIENT_CERT = None # = "/home/pi/oledctrl/certs/phoniebox.gunnar.crt"

