ONLINE_URL = "http://localhost:8080/gunnar/"

ONLINE_RADIO_URL = "http://localhost:8080/Radio/"
UPDATE_RADIO = True

ONLINE_SAVEPOS = "http://localhost:8080/savepos/"
ONLINE_DELETEPOS = "http://localhost:8080/savepos/deletepos.php"