"""
Software settings
"""


####CONTROL
POWERCONTROLLER=False
ROTARYENCODER=True

MENU_TIMEOUT = 20
START_TIMEOUT = 2

CONTRAST_TIMEOUT = 10 #MENU_TIMEOUT
DARK_TIMEOUT = 60
DARK_RENDERTIME = 10 #sekunden
CONTRAST_FULL = 245
CONTRAST_DARK = 32
CONTRAST_BLACK = 10




PLAYOUT_CONTROLS = "sudo /home/pi/RPi-Jukebox-RFID/scripts/playout_controls.sh"

#Pins for rotary encoder
PIN_CLK = 24
PIN_DT = 23
PIN_SW = 25

#Settings for the connection to Mopidy
MPD_IP = "localhost"
MPD_PORT = 6600

#Font files (TrueType)
FONT_ICONS = "fonts/fontawesome.otf"
FONT_TEXT = "fonts/arial.ttf"
FONT_CLOCK = "fonts/calibri.ttf"


ALSA_DEV_LOCAL="hifiberrydac"

#BluetoothKopfhoerer
ENABLED_DEV_BT_1 = "ON"
NAME_DEV_BT_1 = "BT1"
ALSA_DEV_BT_1 = "bt_dev_1"
MAC_DEV_BT_1 = "4A:F5:FF:38:28:D5"

ENABLED_DEV_BT_2 = "OFF"
NAME_DEV_BT_2 = "BT2"
ALSA_DEV_BT_2 = "bt_dev_2"
MAC_DEV_BT_2 = "FC:58:FA:FE:09:4C"

INTPIN=2

STATUS_LED_ENABLED=True
STATUS_LED_PIN=6
STATUS_LED_ALWAYS_ON=False

AUDIO_BASEPATH_BASE = "/home/pi/RPi-Jukebox-RFID/shared/audiofolders"
AUDIO_BASEPATH_MUSIC = "/home/pi/RPi-Jukebox-RFID/shared/audiofolders/Musik"
AUDIO_BASEPATH_HOERBUCH = "/home/pi/RPi-Jukebox-RFID/shared/audiofolders/Hörspiele"
AUDIO_BASEPATH_RADIO = "/home/pi/RPi-Jukebox-RFID/shared/audiofolders/Radio"

SR1 = "beendet"
SR2 = "heruntergefahren"
SR3 = "neugestartet"

######
from datetime import datetime
###########################
screenpower = True
shutdown_reason = "changeme"
lastinput = datetime.now()
job_t = -1
job_i = -1
job_s = -1
audio_basepath = AUDIO_BASEPATH_MUSIC
currentfolder = audio_basepath
current_selectedfolder=currentfolder
