""" Software settings """

# INPUT: possible value
# gpicase : GPI Case 1 
# keyboard : Keyboard # BETA
# powercontroller : Hifiberry Powercontroller
# keypad4x4 : KEYPAD 4x4 I2C + MCP23017
# rotaryenc : Rotary ecoder
# pirateaudio : Piratre Audio HAT
# x728 : X728 V2.1
# statusled : Status LED
#
# example:
# INPUTS = ["keypad4x4", "statusled", "x728"]
INPUTS=["keypad4x4", "statusled", "x728"]

ufw_services_allow = ["ssh","http","microsoft-ds"]
use_eyed3 = False

LOGLEVEL=1

ONLINEURL = "http://192.168.8.21/website"

###DISPLAY_SETTINGS i2c
DISPLAY_TYPE = "spi" # or "i2c"
DISPLAY_DRIVER = "ssd1351"

####CONTROL

MENU_TIMEOUT = 20
START_TIMEOUT = 2

CONTRAST_TIMEOUT = 50 #MENU_TIMEOUT
CONTRAST_RENDERTIME = 3
BUSY_RENDERTIME = 3
DARK_TIMEOUT = 60
DARK_RENDERTIME = 10 #sekunden

CONTRAST_FULL = 245
CONTRAST_DARK = 64
CONTRAST_BLACK = 20

DISABLE_DISPLAY = True


###
STATUS_LED_PIN=6
STATUS_LED_ALWAYS_ON=False

###

#Pins for rotary encoder
PIN_CLK = 24
PIN_DT = 1
PIN_SW = 25

###

### KEYPAD 4x4 I2C + MCP23017
KEYPAD_INTPIN = 17
KEYPAD_ADDR = 0x27

####

### X728 UPS support
X728_BATT_LOW = 15
X728_BATT_EMERG = 5 # Shutdown Battery Percentage

SYMBOL_SANDCLOCK = "\uf251"
SYMBOL_VOL_UP = "\uf026 \uf067"
SYMBOL_VOL_DN = "\uf026 \uf068"
SYMBOL_VOL_MUTE = "\uf026 \uf057"
SYMBOL_NEXT = "\uf051"
SYMBOL_PREV = "\uf048"
SYMBOL_ERROR = "\uf00d"

SYMBOL_RADIO = "\uf1eb"
SYMBOL_MUSIC = "\uf001"
SYMBOL_HOERSPIEL = "\uf02d"
SYMBOL_USB = "\uf287"

SYMBOL_CARD_READ= "\uf140 \uf001"
SYMBOL_CHANGING_SONG = "\uf07e"

SYMBOL_BLUETOOTH_OFF = "\uf294"
SYMBOL_BLUETOOTH_ON = "\uf293"


SYMBOL_CLOUD = "\uf0c2"
SYMBOL_NOCLOUD = "\uf0ed"

SYMBOL_FOLDER = "\u2c76"

SYMBOL_FOLDER_SELECTED = "\uf07c"

PLAYOUT_CONTROLS = "sudo /home/pi/RPi-Jukebox-RFID/scripts/playout_controls.sh"

RESUME_PLAY = "sudo /home/pi/RPi-Jukebox-RFID/scripts/resume_play.sh"




#Settings for the connection to Mopidy
MPD_IP = "localhost"
MPD_PORT = 6600

#Font files (TrueType)
FONT_ICONS = "fonts/fontawesome.otf"
FONT_TEXT = "fonts/arial.ttf"
FONT_CLOCK = "fonts/calibri.ttf"


ALSA_DEV_LOCAL="hifiberrydac"

#BluetoothKopfhoerer
ENABLED_DEV_BT_1 = True
AUTOCONNECT_DEV_BT_1 = False
NAME_DEV_BT_1 = "Jabra"
ALSA_DEV_BT_1 = "bt_dev_1"
MAC_DEV_BT_1 = "50:C2:ED:0D:4B:8D"
#"69:40:CF:81:94:75"

ENABLED_DEV_BT_2 = False
AUTOCONNECT_DEV_BT_2 = False
NAME_DEV_BT_2 = "Jabra Evolve 65"
ALSA_DEV_BT_2 = "bt_dev_2"
MAC_DEV_BT_2 = "50:C2:ED:0D:4B:8D"

INTPIN=2


SR1 = "beendet"
SR2 = "heruntergefahren"
SR3 = "neugestartet"

PLEASE_WAIT = "Bitte Warten..."
CARD_READ = "Karte gelesen!"


callback_active = False

battsymbol = "\uf240"

